# App Configuration
PORT=

# MongoDB Configuration
DATABASE_URL=

# RabbitMQ Configuration
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# JWT Secret
SECRET=

# Client Host
CLIENT_HOST=

# Super Admin Configuration
SUPER_EMAIL=
SUPER_PASSWORD=
SUPER_USERNAME=
SUPER_ID=